{% extends "base.html" %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block head_title %}
        SRVUP Category List
    {% endblock %}</title>

</head>
<body>
    {% block content %}
        <div class="row">
            <div class="col-sm-12" style="text-align: center">
                <h1>Categories</h1>
            </div>
        </div>
         <br>
         <div class="row">
            {% for item in queryset %}
                <div class="col-sm-6">
                    <li><a href="{{ item.get_absolute_url }}">{{ item }}</a></li>
                     <a href="{{ item.get_absolute_url }}"><img src="{{ item.get_image_url }}" class="img-responsive"></a>
                     <br>
                </div>
            {% endfor %}
         </div>
    {% endblock %}
</body>
</html>